<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="11" android:versionName="3.2" package="com.mrinalraj.instaface" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.mrinalraj.instaface.InstaFace" android:allowBackup="true" android:supportsRtl="true">
        <activity android:name="com.mrinalraj.instaface.activities.Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mrinalraj.instaface.activities.ImageResult" />
        <activity android:name="com.mrinalraj.instaface.activities.History" />
        <activity android:name="com.mrinalraj.instaface.activities.about" />
        <service android:name="com.mrinalraj.instaface.services.ClipBoardService" />
        <receiver android:name="com.mrinalraj.instaface.services.RecieverService" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0" />
        <service android:name="com.txusballesteros.bubbles.BubblesService" android:enabled="true" android:exported="false" />
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT" />
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1" />
    </application>
</manifest>
